<div class="container">

  <!-- First Section with Background Images -->
  <div class="row mt-5 align-items-stretch">
    <!-- Card 1 -->
    <div class="card col mx-3" id="homeSection1">
      <div class="card-body"></div>
    </div>

    <!-- Card 2 -->
    <div id="homeSection2" class="card col mx-3">
      <div class="card-body" style="color: #555555;">
        <h1>Vitality Vault</h1>
        <h3>-----------------------</h3>
        <p>"Empowering health, one click at a time—where medications meet mindfulness, supplements find synergy, and workouts become a celebration of self-care. At Vitality Vault, we believe in the transformative power of personalized wellness, making every choice a step towards a vibrant and balanced life. Join us on the path to holistic well-being, where tracking meets transformation, and your journey becomes our collective commitment to thriving together."</p>
      </div>
    </div>
  </div>

</div>

<div class="container mt-5">
  <div class="row">
      <!-- Feature 1 -->
      <div class="col-sm card">
          <h3>Testing</h3>
          <p>Track your changes, when trying or stopping a new medication, supplement, or program.</p>
      </div>
      <!-- Feature 2 -->
      <div class="col-sm card">
          <h3>Visual Health Dashboard</h3>
          <p>A clear visual representation of your data to help spot trends.</p>
      </div>
      <!-- Feature 3 -->
      <div class="col-sm card">
          <h3>See results</h3>
          <p>View or share testing and discuss the good and the bad with other members.</p>
      </div>
  </div>
</div>

<!-- Why go with us Section -->
<div class="row align-items-center m-5">
  <div class="card col" style="width: 50rem;  background-color: grey;">
    <div class="card-body ">
      <h4>Why go with us?</h4>
      <p>"At Vitality Vault, we are committed to empowering individuals on their journey to optimal health and wellness. We strive to provide a comprehensive and user-friendly platform which seamlessly integrates medication management, supplement tracking, and workout monitoring. Through cutting-edge technology and personalized insights, we aim to foster a holistic approach to health, enabling our users to take control of their well-being and live their best lives.
        We strive to create a supportive and informative community where individuals can easily manage their medications, track the impact of supplements, and monitor their fitness progress—all in one place. By offering intuitive tools and resources, we aspire to simplify the complexity of healthcare and fitness, making it accessible and actionable for everyone.</p>

      <p>The heart of our website is a commitment to promoting proactive self-care. We believe that by empowering individuals with the right information and tools, they can make informed decisions about their health. Our goal is to inspire and guide our users toward sustainable lifestyle changes that contribute to long-term well-being.
        As we navigate the ever-evolving landscape of health and wellness, we remain dedicated to continuous innovation and improvement. By staying at the forefront of technological advancements, we strive to provide an evolving platform that adapts to the unique needs and goals of our diverse user community.
        Join us on this journey towards a healthier, happier, and more fulfilling life. Together, we are redefining health and wellness through seamless integration, personalized insights, and a supportive community. Welcome to a world where your well-being is at the center of everything we do."</p>
    </div>
  </div>
</div>

