body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

h1, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border-radius: 10px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

#homeSection1,
#homeSection2 {
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  background-position: center;
}

#homeSection1 {
  background-image: url('https://img.freepik.com/free-photo/chance-dream-strong-life-live-love-positivity_53876-124722.jpg?size=626&ext=jpg');
}

#homeSection2 {
  background-image: url('https://t4.ftcdn.net/jpg/01/17/50/49/360_F_117504933_9F6FUj8oK1YeOCPLSOXYJC6Z49i4fmyf.jpg');
}
