.container {
  margin-top: 20px;
}

#bg {
  background-image: url(https://media.istockphoto.com/id/1208571277/vector/mountain-hiking-with-a-dog.jpg?s=612x612&w=0&k=20&c=_eSmMZZm03nzAAdwgTQxh4nLPdMkSQAWzOcP7igf_gE=);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  background-position: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#homeSection1 .card {
  transition: all 0.3s ease-in-out;
  opacity: 0.01; /* Set initial opacity */
  border: 1px solid transparent; /* Add a transparent border */
}

#homeSection1 .card:hover {
  transform: scale(1.05);
  opacity: 1; /* Set opacity on hover */
  border-color: #007bff; /* Change border color on hover */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Add a box shadow on hover */
}

#homeSection2 {
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  background-position: center;
}
