<br>
<div *ngIf="!selected && !editTrial" >
  <div class="">
    <form>
      <div class="input-group mb-3">
        <span class="input-group-text">Category:</span>
        <select class="form-control" name="category" [(ngModel)]="category.id">
          <option *ngFor="let category of categories">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Type:</span>
        <input class="form-control" type="text" name="TrialType" [(ngModel)]="newTrial.logEntryType"
          [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatterInput" />
        <input hidden="hidden" name=" TrialTypeId" [(ngModel)]="TrialType.id">
        <button class="btn btn-outline-dark btn-light" (click)="newTrialType()">
          New Type
        </button>
      </div>

      <div *ngIf="newType">
        <app-log-entry-type></app-log-entry-type>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"> Title:</span>
        <input class="form-control" type="text" name="title" [(ngModel)]="newTrial.title" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"> Purpose:</span>
        <input class="form-control" type="text" name="purpose" [(ngModel)]="newTrial.purpose" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Start Date:</span>
        <input class="form-control" type="Date" name="startDate" [(ngModel)]="newTrial.startDate " />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">End Date:</span>
        <input class="form-control" type="Date" name="endDate" [(ngModel)]="newTrial.endDate " />
      </div>

      <div class="input-group mb-3 form-check form-switch">
        <span class="input-group-text">Allow others to see Trial data:</span>
        <input class="form-check-input" type="checkbox" name="published" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="newTrial.published" />
      </div>


      <div class="input-group mb-3">
        <button class="btn btn-outline-dark btn-light" (click)="addTrial(newTrial)">
          Submit Changes
        </button>
        <button class="btn btn-outline-danger btn-light" (click)="resetNewEntry()">
          Cancel Changes
        </button>
      </div>
    </form>
  </div>
</div>

<div class="card" *ngIf="selected">
  <div class="card-body">
    <h5>Title: {{selected.title}}</h5>
    <ul>
      <li>Purpose: {{selected.purpose}}</li>
      <li>Start Date: {{selected.startDate}}</li>
      <li>End Date: {{selected.endDate}}</li>
    </ul>
    <button class="btn btn-outline-dark btn-light" (click)="setEditTrial()">
      Edit
    </button>
    <a class="btn btn-outline-danger btn-light" href="#/profile">
      Return
    </a>
    <button class="btn btn-outline-success btn-light" (click)="selected=null">
      Create
    </button>
  </div>
</div>

<div *ngIf="editTrial" >
  <div class="">
    <form>
      <div class="input-group mb-3">
        <span class="input-group-text">Category:</span>
        <select class="form-control" name="category" [(ngModel)]="category.id">
          <option *ngFor="let category of categories">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Type:</span>
        <input class="form-control" type="text" name="TrialType" [(ngModel)]="newTrial.logEntryType"
          [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatterInput" />
        <input hidden="hidden" name="TrialTypeId" [(ngModel)]="TrialType.id">
        <button class="btn btn-outline-dark btn-light" (click)="newTrialType()">
          New Type
        </button>
      </div>

      <div *ngIf="newType">
        <app-log-entry-type></app-log-entry-type>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"> Title:</span>
        <input class="form-control" type="text" name="title" [(ngModel)]="editTrial.title" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"> Purpose:</span>
        <input class="form-control" type="text" name="purpose" [(ngModel)]="editTrial.purpose" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Start Date:</span>
        <input class="form-control" type="Date" name="startDate" [(ngModel)]="editTrial.startDate " />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">End Date:</span>
        <input class="form-control" type="Date" name="endDate" [(ngModel)]="editTrial.endDate " />
      </div>

      <div class="input-group mb-3">
        <button class="btn btn-outline-dark btn-light" (click)="updateTrial(editTrial)">
          Submit Changes
        </button>
        <button class="btn btn-outline-danger btn-light" (click)="editTrial = null">
          Cancel Changes
        </button>
        </div>
    </form>
  </div>
</div>
