<footer class="mt-5 text-center rounded d-flex">
  <div id="copyright" class="flex-grow-1">
      <p>&copy; 2024 Vitality Vault. All rights reserved.</p>
  </div>
  <div id="tech-icons">
      <i class="devicon-angularjs-plain"></i>
      <i class="devicon-spring-plain-wordmark"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-javas-plain"></i>
      <i class="devicon-typescript-plain"></i>
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain"></i>
  </div>
</footer>
