<div class="row align-items-top m-5">
  <div class="card col col-md my-4 " style="background-color: lightblue">
    <div *ngIf="!updateUser">
      <div class="card-body">
        <h3>Welcome, {{ user.firstName }} {{ user.lastName }}</h3>
        <div class="row align-items-top">
          <div class="col">
            <p>Username: {{ user.username }}</p>
            <p>Birthdate: {{ user.birthdate }}</p>
            <p>Sex: {{ user.sex }}</p>
            <p>Height: {{user.height}}</p>
            <p>Weight: {{user.weight}}</p>
            <p>Medications:</p>
            <ul>
              <li *ngFor="let medication of medications">{{medication}}</li>
            </ul>
            <p>Supplements:</p>
            <ul>
              <li *ngFor="let supplement of supplements">{{supplement}}</li>
            </ul>
            <p>Biography: {{ user.biography }}</p>
            <p>Email: {{ user.email }}</p>
          </div>
          <div *ngIf="user.imageUrl" class="col col-xs">
            <img class="bd-placeholder-img rounded" height="150" width="150" alt="profile picture"
              src="{{ user.imageUrl }}" />
          </div>
        </div>
        <button class="btn btn-outline-dark" (click)="updateUserProfile()">
          Update User Profile
        </button>
      </div>
    </div>
    <div *ngIf="updateUser">
      <div class="card-body">
        <form>
          <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <span class="input-group-text">First:</span>
            <input class="form-control" type="text" name="FirstName" [(ngModel)]="updateUser.firstName"
              placeholder="First Name" />
            <span class="input-group-text">Last:</span>
            <input class="form-control" type="text" name="LastName" [(ngModel)]="updateUser.lastName" />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text"> Birthdate:</span>
            <input class="form-control" type="date" name="Birthday" [(ngModel)]="updateUser.birthdate" />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Sex:</span>
            <input class="form-control" type="text" name="Sex" [(ngModel)]="updateUser.sex" placeholder="Sex" />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Height:</span>
            <input class="form-control" type="text" name="Height" [(ngModel)]="updateUser.height"
              placeholder="height" />
          </div>

          <div class="input-group mb-3">

            <span class="input-group-text">Weight:</span>
            <input class="form-control" type="text" name="Weight" [(ngModel)]="updateUser.weight"
              placeholder="weight" />
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Biography:</span>
            <textarea class="form-control" name="Biography" [(ngModel)]="updateUser.biography"
              placeholder="Biography"></textarea>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Email:</span>
            <input class="form-control" type="text" name="Email" [(ngModel)]="updateUser.email" placeholder="Email" />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Image:</span>
            <input class="form-control" type="text" name="ProfileImage" [(ngModel)]="updateUser.imageUrl"
              placeholder="Image" />
          </div>
          <button class="btn btn-outline-dark btn-light" (click)="finishUpdateUser()">
            Submit Changes
          </button>
          <button class="btn btn-outline-danger btn-light" (click)="updateUser=null">
            Cancel Changes
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>

  <div id="section2" class="card col-md my-4" style="background-color: lightblue">
    <div class="card-body">
      <span>
        <h1>Start New Trial</h1>
        <a href="#/trials" class="btn btn-outline-dark">Start</a>
      </span>
      <br>
      <br>
      <div *ngIf="trials.length>0">
        <table class=" shadow-lg p-1 mb-5 bg-body-dark rounded table table-striped table-info align-middle table-hover table-bordered">
          <thead>
            <tr>
              <td>Title</td>
              <td>Purpose</td>
              <td [colSpan]="2">Dates</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trial of trials" [routerLink]="'/trials/' + trial.id">
              <td>{{trial.title}}</td>
              <td>{{trial.purpose}}</td>
              <td [colSpan]="2">{{trial.startDate}} - {{trial.endDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="input-group mb-3">
  <label class="input-group-text" for="datePicker">Select a date:</label>
  <input class="form-control" type="date" id="datePicker" [(ngModel)]="selectedDate">
  <button class="btn btn-outline-success" (click)="loadEntriesByDay(selectedDate)">View Past Logs</button>
</div>
<div *ngIf="loadEntriesByDay.length>0">
    <table class=" shadow-lg p-1 mb-5 bg-body-dark rounded table table-striped table-info align-middle table-hover table-bordered">
      <thead>
        <tr>
          <td>Category</td>
          <td>Type</td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of logEntriesByDay" [routerLink]="'/dailyLog/' + entry.id">
          <td>
            {{entry.logEntryType.category?.name}}
          </td>
          <td>{{entry.logEntryType.name}}</td>
          <td>{{entry.description}}</td>
        </tr>
      </tbody>
    </table>

  </div>
<br>
<br>
