<div class="container">
<div *ngFor="let trial of publishedTrials" class="card mb-3 m-2">
  <div class="card-header" (click)="toggleExpansion(trial.id)">
    {{ trial.title }}
    <blockquote class="blockquote m-2">
      <p class="mb-0">{{ trial.purpose }}</p>
    </blockquote>
  </div>
  <br>


  <div *ngIf="expandedTrialId === trial.id" class="card-body">

    <br>
    Dates: {{trial.startDate}} - {{trial.endDate}}


    <!-- Chart Section -->
    <div class="chart-container rounded" style="background-color: rgb(177, 175, 175);">
      <h2 class="text-center">Trial Results</h2>
      <!-- Chart.js Line Chart -->
      <canvas #chartCanvas id="{{trial.id}}"></canvas>
    </div>

    <!-- Comment Section -->
    <div class="comment-section">

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let comment of commentList">
          <div>
            <strong>{{comment.user?.username}}: </strong>{{comment.content}}
          </div>
        </li>
      </ul>

      <div >
        <form class=" input-group" (ngSubmit)="addComment()">
          <textarea class="form-control" id="content" name="content" [(ngModel)]="newComment.content" required></textarea>
          <button class="btn btn-outline-dark" type="submit">Add Comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>
</div>
